.App-footer {
  background: #e1e5f1;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.App-footer .footnote,
.credits {
  color: #414c64;
  font-size: 13px;
}

.App-footer .footnote a,
.credits a {
  color: #db5319;
  text-decoration: none;
}
.App-footer .credits {
  margin-top: 10px;
}
.App-footer .social-links a {
  font-size: 18px;
  background: #d0daf5;
  color: #5f6f92;
  padding: 8px 15px;
  border-radius: 50%;
}

.App-footer .social-links a:hover {
  background: #eb5c1f;
}
